tosort/dev/core/etc/wsdl/BabelfishEnglishToOther.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://openkapow.com/BabelfishEnglishToOther"
  targetNamespace="http://openkapow.com/BabelfishEnglishToOther">
  
  <wsdl:documentation>
    endpoint=http://service.openkapow.com/hasin/babelfishenglishtofrench?text={text}&amp;Translate+From+English+To={lang}&amp;resultformat=xml&amp;header=yes
  </wsdl:documentation>

  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="qualified">
      <xs:element name="result">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="TranslateRequestMsg">
    <wsdl:part name="text" type="xs:string" />
    <wsdl:part name="lang" type="xs:string" />
  </wsdl:message>
  <wsdl:message name="TranslateResponseMsg">
    <wsdl:part name="body" element="result" />
  </wsdl:message>

  <wsdl:portType name="BabelfishEnglishToOther">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateRequestMsg" />
      <wsdl:output message="tns:TranslateResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
