tosort/dev/core/etc/wsdl/FinanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="LoanMonthlyPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Months" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanMonthlyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanMonthlyPaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanNumberOfPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="MonthlyPayment" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanNumberOfPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanNumberOfPaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseMonthlyPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ResidualValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Months" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaseMonthlyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeaseMonthlyPaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ExtraCost" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Months" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="APRResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoanMonthlyPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:LoanMonthlyPayment" />
  </wsdl:message>
  <wsdl:message name="LoanMonthlyPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:LoanMonthlyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:LoanNumberOfPayment" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:LoanNumberOfPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:LeaseMonthlyPayment" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:LeaseMonthlyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="APRSoapIn">
    <wsdl:part name="parameters" element="tns:APR" />
  </wsdl:message>
  <wsdl:message name="APRSoapOut">
    <wsdl:part name="parameters" element="tns:APRResponse" />
  </wsdl:message>
  <wsdl:message name="LoanMonthlyPaymentHttpGetIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="Months" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoanMonthlyPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentHttpGetIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="MonthlyPayment" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentHttpGetIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="ResidualValue" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="Months" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="APRHttpGetIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="ExtraCost" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="Months" type="s:string" />
  </wsdl:message>
  <wsdl:message name="APRHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="LoanMonthlyPaymentHttpPostIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="Months" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoanMonthlyPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentHttpPostIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="MonthlyPayment" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoanNumberOfPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentHttpPostIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="ResidualValue" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="Months" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaseMonthlyPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="APRHttpPostIn">
    <wsdl:part name="LoanAmount" type="s:string" />
    <wsdl:part name="ExtraCost" type="s:string" />
    <wsdl:part name="InterestRate" type="s:string" />
    <wsdl:part name="Months" type="s:string" />
  </wsdl:message>
  <wsdl:message name="APRHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="FinanceServiceSoap">
    <wsdl:operation name="LoanMonthlyPayment">
      <wsdl:input message="tns:LoanMonthlyPaymentSoapIn" />
      <wsdl:output message="tns:LoanMonthlyPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <wsdl:input message="tns:LoanNumberOfPaymentSoapIn" />
      <wsdl:output message="tns:LoanNumberOfPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <wsdl:input message="tns:LeaseMonthlyPaymentSoapIn" />
      <wsdl:output message="tns:LeaseMonthlyPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="APR">
      <wsdl:input message="tns:APRSoapIn" />
      <wsdl:output message="tns:APRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FinanceServiceHttpGet">
    <wsdl:operation name="LoanMonthlyPayment">
      <wsdl:input message="tns:LoanMonthlyPaymentHttpGetIn" />
      <wsdl:output message="tns:LoanMonthlyPaymentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <wsdl:input message="tns:LoanNumberOfPaymentHttpGetIn" />
      <wsdl:output message="tns:LoanNumberOfPaymentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <wsdl:input message="tns:LeaseMonthlyPaymentHttpGetIn" />
      <wsdl:output message="tns:LeaseMonthlyPaymentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="APR">
      <wsdl:input message="tns:APRHttpGetIn" />
      <wsdl:output message="tns:APRHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FinanceServiceHttpPost">
    <wsdl:operation name="LoanMonthlyPayment">
      <wsdl:input message="tns:LoanMonthlyPaymentHttpPostIn" />
      <wsdl:output message="tns:LoanMonthlyPaymentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <wsdl:input message="tns:LoanNumberOfPaymentHttpPostIn" />
      <wsdl:output message="tns:LoanNumberOfPaymentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <wsdl:input message="tns:LeaseMonthlyPaymentHttpPostIn" />
      <wsdl:output message="tns:LeaseMonthlyPaymentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="APR">
      <wsdl:input message="tns:APRHttpPostIn" />
      <wsdl:output message="tns:APRHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceServiceSoap" type="tns:FinanceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="LoanMonthlyPayment">
      <soap:operation soapAction="http://www.webserviceX.NET/LoanMonthlyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <soap:operation soapAction="http://www.webserviceX.NET/LoanNumberOfPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <soap:operation soapAction="http://www.webserviceX.NET/LeaseMonthlyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APR">
      <soap:operation soapAction="http://www.webserviceX.NET/APR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceServiceHttpGet" type="tns:FinanceServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LoanMonthlyPayment">
      <http:operation location="/LoanMonthlyPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <http:operation location="/LoanNumberOfPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <http:operation location="/LeaseMonthlyPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APR">
      <http:operation location="/APR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceServiceHttpPost" type="tns:FinanceServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LoanMonthlyPayment">
      <http:operation location="/LoanMonthlyPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanNumberOfPayment">
      <http:operation location="/LoanNumberOfPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaseMonthlyPayment">
      <http:operation location="/LeaseMonthlyPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APR">
      <http:operation location="/APR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceService">
    <wsdl:port name="FinanceServiceSoap" binding="tns:FinanceServiceSoap">
      <soap:address location="http://www.webservicex.net/FinanceService.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceServiceHttpGet" binding="tns:FinanceServiceHttpGet">
      <http:address location="http://www.webservicex.net/FinanceService.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceServiceHttpPost" binding="tns:FinanceServiceHttpPost">
      <http:address location="http://www.webservicex.net/FinanceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>