dev/core/runtime/test/com/wavemaker/runtime/ws/BasicRealTimeQuotes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://ws.strikeiron.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:si="http://www.strikeiron.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="GetQuotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TickerSymbolList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuotesResult" type="si:ArrayOfRealQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRealQuote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RealQuote" nillable="true" type="si:RealQuote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RealQuote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUSIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangeFromPrevious" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromPrevious" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Open" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangeFromOpen" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromOpen" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Bid" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Ask" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Spread" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BidQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AskQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ECNVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Highest" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Lowest" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Rank" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResponseInfo" type="si:ResponseInfo" />
      <s:complexType name="ResponseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOneQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TickerSymbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOneQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOneQuoteResult" type="si:RealQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnregisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuotesSoapIn">
    <wsdl:part name="parameters" element="si:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="GetQuotesSoapOut">
    <wsdl:part name="parameters" element="si:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuotesResponseInfo">
    <wsdl:part name="ResponseInfo" element="si:ResponseInfo" />
  </wsdl:message>
  <wsdl:message name="GetOneQuoteSoapIn">
    <wsdl:part name="parameters" element="si:GetOneQuote" />
  </wsdl:message>
  <wsdl:message name="GetOneQuoteSoapOut">
    <wsdl:part name="parameters" element="si:GetOneQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetOneQuoteResponseInfo">
    <wsdl:part name="ResponseInfo" element="si:ResponseInfo" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="s1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" element="s1:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="BasicRealTimeQuotesSoap">
    <wsdl:operation name="GetQuotes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Realtime quote information for given Ticker symbols</documentation>
      <wsdl:input message="si:GetQuotesSoapIn" />
      <wsdl:output message="si:GetQuotesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOneQuote">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Realtime quote information for given Ticker symbol</documentation>
      <wsdl:input message="si:GetOneQuoteSoapIn" />
      <wsdl:output message="si:GetOneQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="si:GetRemainingHitsSoapIn" />
      <wsdl:output message="si:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicRealTimeQuotesSoap" type="si:BasicRealTimeQuotesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetQuotes">
      <soap:operation soapAction="http://www.strikeiron.com/GetQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <si:validation xmlns:tns="http://www.strikeiron.com">
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string-length(//tns:TickerSymbolList) &gt; 0</tns:expression>
              <tns:description>TickerSymbolList is required</tns:description>
            </tns:assertion>
          </tns:assertions>
        </si:validation>
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:GetQuotesResponseInfo" part="ResponseInfo" use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneQuote">
      <soap:operation soapAction="http://www.strikeiron.com/GetOneQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <si:validation xmlns:tns="http://www.strikeiron.com">
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string-length(//tns:TickerSymbol) &gt; 0</tns:expression>
              <tns:description>TickerSymbol is required</tns:description>
            </tns:assertion>
          </tns:assertions>
        </si:validation>
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:GetOneQuoteResponseInfo" part="ResponseInfo" use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/BasicRealTimeQuotes/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicRealTimeQuotes">
    <wsdl:port name="BasicRealTimeQuotesSoap" binding="si:BasicRealTimeQuotesSoap">
      <soap:address location="http://ws.strikeiron.com/StrikeIron/BasicRealTimeQuotes" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>