tosort/dev/demos/WebServicesExample/services/FlickrPhotoSearch/src/com/flickr/api/services/rest/flickrphotosearch/FlickrPhotoSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.flickr.com/services/rest/"
    xmlns:tns="http://api.flickr.com/services/rest/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>endpoint=http://api.flickr.com/services/rest/?method=flickr.photos.search&amp;api_key={apiKey}&amp;text={text}</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="rsp" type="rspType"/>
            <xs:complexType name="photosType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="photo" type="photoType"/>
                </xs:sequence>
                <xs:attribute name="page" type="xs:string"/>
                <xs:attribute name="pages" type="xs:string"/>
                <xs:attribute name="perpage" type="xs:string"/>
                <xs:attribute name="total" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="rspType">
                <xs:sequence>
                    <xs:element name="photos" type="photosType"/>
                </xs:sequence>
                <xs:attribute name="stat" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="photoType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="owner" type="xs:string" use="optional"/>
                        <xs:attribute name="secret" type="xs:string" use="optional"/>
                        <xs:attribute name="server" type="xs:string" use="optional"/>
                        <xs:attribute name="farm" type="xs:string" use="optional"/>
                        <xs:attribute name="title" type="xs:string" use="optional"/>
                        <xs:attribute name="ispublic" type="xs:string" use="optional"/>
                        <xs:attribute name="isfriend" type="xs:string" use="optional"/>
                        <xs:attribute name="isfamily" type="xs:string" use="optional"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RequestMsg">
        <wsdl:part name="apiKey" type="xs:string"/>
        <wsdl:part name="text" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="ResponseMsg">
        <wsdl:part element="rsp" name="body"/>
    </wsdl:message>
    <wsdl:portType name="FlickrPhotoSearch">
        <wsdl:operation name="search">
            <wsdl:input message="tns:RequestMsg"/>
            <wsdl:output message="tns:ResponseMsg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
