dev/core/etc/wsdl/YahooStockQuote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://service.openkapow.com/frankiefu/yahooquoteservice"
  targetNamespace="http://service.openkapow.com/frankiefu/yahooquoteservice">
  
  <wsdl:documentation>
    endpoint=http://service.openkapow.com/frankiefu/yahooquoteservice?symbol={symbol}&amp;resultformat=xml&amp;xml.rootElementName=&amp;html.title=&amp;html.style.stylesheetLink=&amp;header=yes&amp;json.callbackFunction=
  </wsdl:documentation>

  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="qualified">
      <xs:element name="result">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="quote" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="GetQuoteRequestMsg">
    <wsdl:part name="symbol" type="xs:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteResponseMsg">
    <wsdl:part name="body" element="result" />
  </wsdl:message>

  <wsdl:portType name="YahooStockQuote">
    <wsdl:operation name="GetQuote">
      <wsdl:input message="tns:GetQuoteRequestMsg" />
      <wsdl:output message="tns:GetQuoteResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
