tosort/dev/demos/WebServicesExample/services/YahooTraffic/src/com/yahooapis/local/trafficdata/yahootraffic/temp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="http://local.yahooapis.com/trafficData"
    xmlns="urn:yahoo:maps"
    xmlns:tns="http://local.yahooapis.com/trafficData"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>endpoint=http://local.yahooapis.com/MapsService/V1/trafficData?appid={appid}&amp;include_map=1&amp;location={location}</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="urn:yahoo:maps" xmlns="urn:yahoo:maps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="ResultSet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LastUpdateDate" type="xs:string"/>
                        <xs:element minOccurs="0" name="Warning" type="xs:string"/>
                        <xs:element maxOccurs="50" minOccurs="0"
                            name="Result" type="ResultType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ResultType">
                <xs:sequence>
                    <xs:element name="Title" type="xs:string"/>
                    <xs:element name="Description" type="xs:string"/>
                    <xs:element name="Latitude" type="xs:decimal"/>
                    <xs:element name="Longitude" type="xs:decimal"/>
                    <xs:element name="Direction" type="xs:string"/>
                    <xs:element name="Severity" type="xs:integer"/>
                    <xs:element name="ReportDate" type="xs:string"/>
                    <xs:element name="UpdateDate" type="xs:string"/>
                    <xs:element name="EndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="ImageUrl" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="type" type="xs:string"/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ResponseMsg">
        <wsdl:part element="ResultSet" name="body"/>
    </wsdl:message>
    <wsdl:message name="RequestMsg">
        <wsdl:part name="appid" type="xs:string"/>
        <wsdl:part name="location" type="xs:string"/>
    </wsdl:message>
    <wsdl:portType name="YahooTraffic">
        <wsdl:operation name="getTraffic">
            <wsdl:input message="tns:RequestMsg"/>
            <wsdl:output message="tns:ResponseMsg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
