dev/demos/WebServicesExample/services/FlickrPhotoInfo/src/com/flickr/api/services/rest/flickrphotoinfo/FlickrPhotoInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.flickr.com/services/rest/"
    xmlns:tns="http://api.flickr.com/services/rest/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>endpoint=http://api.flickr.com/services/rest/?method=flickr.photos.getInfo&amp;api_key={apiKey}&amp;photo_id={photoId}</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="rsp" type="rspType"/>
            <xs:complexType name="countryType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="place_id" type="xs:string"/>
                        <xs:attribute name="woeid" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="tagType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="id" type="xs:string" use="optional"/>
                        <xs:attribute name="author" type="xs:string" use="optional"/>
                        <xs:attribute name="raw" type="xs:string" use="optional"/>
                        <xs:attribute name="machine_tag"
                            type="xs:string" use="optional"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="locationType">
                <xs:sequence>
                    <xs:element name="locality" type="localityType"/>
                    <xs:element name="region" type="regionType"/>
                    <xs:element name="country" type="countryType"/>
                </xs:sequence>
                <xs:attribute name="latitude" type="xs:string"/>
                <xs:attribute name="longitude" type="xs:string"/>
                <xs:attribute name="accuracy" type="xs:string"/>
                <xs:attribute name="place_id" type="xs:string"/>
                <xs:attribute name="woeid" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="photoType">
                <xs:sequence>
                    <xs:element name="owner" type="ownerType"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="visibility" type="visibilityType"/>
                    <xs:element name="dates" type="datesType"/>
                    <xs:element name="editability" type="editabilityType"/>
                    <xs:element name="usage" type="usageType"/>
                    <xs:element name="comments" type="xs:string"/>
                    <xs:element name="notes" type="xs:string"/>
                    <xs:element name="tags" type="tagsType"/>
                    <xs:element name="location" type="locationType"/>
                    <xs:element name="geoperms" type="geopermsType"/>
                    <xs:element name="urls" type="urlsType"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string"/>
                <xs:attribute name="secret" type="xs:string"/>
                <xs:attribute name="server" type="xs:string"/>
                <xs:attribute name="farm" type="xs:string"/>
                <xs:attribute name="dateuploaded" type="xs:string"/>
                <xs:attribute name="isfavorite" type="xs:string"/>
                <xs:attribute name="license" type="xs:string"/>
                <xs:attribute name="rotation" type="xs:string"/>
                <xs:attribute name="originalsecret" type="xs:string"/>
                <xs:attribute name="originalformat" type="xs:string"/>
                <xs:attribute name="media" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="usageType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="candownload" type="xs:string"/>
                        <xs:attribute name="canblog" type="xs:string"/>
                        <xs:attribute name="canprint" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="editabilityType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="cancomment" type="xs:string"/>
                        <xs:attribute name="canaddmeta" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="geopermsType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="ispublic" type="xs:string"/>
                        <xs:attribute name="iscontact" type="xs:string"/>
                        <xs:attribute name="isfriend" type="xs:string"/>
                        <xs:attribute name="isfamily" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="localityType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="place_id" type="xs:string"/>
                        <xs:attribute name="woeid" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="urlsType">
                <xs:sequence>
                    <xs:element name="url" type="urlType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ownerType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="nsid" type="xs:string"/>
                        <xs:attribute name="username" type="xs:string"/>
                        <xs:attribute name="realname" type="xs:string"/>
                        <xs:attribute name="location" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="rspType">
                <xs:sequence>
                    <xs:element name="photo" type="photoType"/>
                </xs:sequence>
                <xs:attribute name="stat" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="tagsType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="tag" type="tagType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="regionType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="place_id" type="xs:string"/>
                        <xs:attribute name="woeid" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="visibilityType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="ispublic" type="xs:string"/>
                        <xs:attribute name="isfriend" type="xs:string"/>
                        <xs:attribute name="isfamily" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="datesType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="posted" type="xs:string"/>
                        <xs:attribute name="taken" type="xs:string"/>
                        <xs:attribute name="takengranularity" type="xs:string"/>
                        <xs:attribute name="lastupdate" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="urlType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RequestMsg">
        <wsdl:part name="apiKey" type="xs:string"/>
        <wsdl:part name="photoId" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="ResponseMsg">
        <wsdl:part element="rsp" name="body"/>
    </wsdl:message>
    <wsdl:portType name="FlickrPhotoInfo">
        <wsdl:operation name="getInfo">
            <wsdl:input message="tns:RequestMsg"/>
            <wsdl:output message="tns:ResponseMsg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
